* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif,'微软雅黑';
}

html {
    font-size: 16px;
}

.container {
    display: flex;
    flex-direction: column;
    min-width: 100vh;
    min-height: 100vh;
    background-color: #fafafa;
    /* background-color: #fafafa; */
    align-items: center;
}

a {
    color: black;
    text-decoration: none;
}
a:hover {
    color: #5b5de7;
}

.content {
    width: 50%;
    min-height: 85vh;
    /* background-color: #ffffff; */
    margin-top: 60px;
    margin-bottom: 10px;
    border-radius: 10px;
    /* border: 1px black solid; */
    /* box-shadow: 0 3px 10px rgba(0,0,0,0.3); */
    display: flex;
    flex-direction: column;
    white-space: normal;
    padding: 30px;
}

.my-card {
    /* background-color: #e9eef0; */
    /* background-color: rgba(234, 236, 236,0.1); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    /* position: relative; */
}

.avatar-box {
    display: flex;
    justify-content: center;
    /* margin-bottom: 20px; */
    height: 180px;
    padding: 10px;
}
#avatar {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 5px solid #eaeaea;
    margin-top: 20px;
}
#avatar:hover {
    margin-top: 0px;
    transition: margin-top 0.5s ease-out;
}

#myCanvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.main {
    margin-top: 50px;
}

.paragraph {
    margin-top: 30px;
    margin-bottom: 30px;
}
.paragraph-title {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    /* width: 100%; */
    align-items: center;
    font-size: 24px;
    text-align: center;
    border-left: 5px solid #5b5de7;
    padding-left: 2px;
}

.paragraph-content {
    font-size: 1.1rem;
    white-space: normal;
}

@media screen and (max-width: 768px) {
    html {
        font-size: 24px; /* 在移动设备上将根元素字体大小增加到 20px */
    }
    .content {
        width: 85%;
        min-height: 85vh;
        margin-top: 50px;
        margin-bottom: 10px;
        border-radius: 10px;
        /* border: 1px black solid; */
        display: flex;
        flex-direction: column;
        white-space: normal;
    }
    .paragraph-title {
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: row;
        /* width: 100%; */
        align-items: center;
        font-size: 1.8rem;
        text-align: center;
        border-left: 5px solid #5b5de7;
        padding-left: 2px;
    }
    .paragraph-content {
        font-size: 1.5rem;
        white-space: normal;
    }

    .avatar-box {
        height: 200px;
        margin-bottom: 30px;
    }
    #avatar {
        height: 200px;
        width: 200px;
    }
}

.glassmorphism {
    background: rgba(255, 255, 255, 0.025); /* 设置背景颜色及透明度 */
    backdrop-filter: blur(3px); /* 设置背景模糊效果 */
    border-radius: 10px; /* 设置圆角边框 */
    padding: 20px; /* 设置内边距 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 设置阴影效果 */
  }

/* .mask {
    z-index: 100;
    background-color: rgba(0,0,0,0.5);
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
}


.dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
} */