.type-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.type-text {
    font-family: monospace;
    font-size: 1rem;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    color: black;
}

.type-text01 {
    animation: type 1.5s steps(14);
    animation-delay: 0s;
}
.type-text02 {
    opacity: 0;
    animation: type 3s steps(28),fade-in 0.1s forwards;
    animation-delay: 2s;
}

.type-text01::after {
    content: "";
    position: absolute;
    right: 0;
    width: 0;
    height: 100%;
    border-right: 1px solid black;
    animation: showInfinite 0.5s 4 both;
}

.type-text02::after {
    content: "";
    position: absolute;
    right: 0;
    width: 0;
    height: 100%;
    border-right: 1px solid black;
    animation: showInfinite 0.5s 7 both;
    animation-delay: 2s;
} 

@keyframes type {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}
@keyframes showInfinite {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

@media screen and (max-width: 768px){
    .type-text {
        font-size: 0.8rem;
    }
}